![Ironhack Logo](https://i.imgur.com/1QgrNNw.png)

In [74]:
from pymongo import MongoClient
client=MongoClient("mongodb://localhost:27017/")
db=client.companies
from pandas.io.json import json_normalize
import pandas as pd

# Answers
### 1. All the companies that it's name match 'Babelgum'. Retrieve only their `name` field.

In [2]:
list(db.companies.find({"name":"Babelgum"},{"name"}))

[{'_id': ObjectId('52cdef7c4bab8bd675297da0'), 'name': 'Babelgum'}]

### 2. All the companies that have more than 5000 employees. Limit the search to 20 companies and sort them by **number of employees**.

In [ ]:
list(db.companies.find({'number_of_employees':{'$gt':5000}},{'name':1, 'number_of_employees':1, '_id':0}).limit(20).sort('number_of_employees',-1))

In [ ]:
list(db.companies.find({'name': {"$exists" : True}},{'category_code':1, '_id':0}))

### 3. All the companies founded between 2000 and 2005, both years included. Retrieve only the `name` and `founded_year` fileds.

In [ ]:
list(db.companies.find({'founded_year':{'$gt':2000, '$lt':2005}},{'name':1, 'founded_year':1, '_id':0}))

### 4. All the companies that had a Valuation Amount of more than 100.000.000 and have been founded before 2010. Retrieve only the `name` and `ipo` fields.

In [ ]:
list(db.companies.find({'ipo ':{'$gt':1000}},{'name':1, 'ipo':1, '_id':0}))

### 5. All the companies that have less than 1000 employees and have been founded before 2005. Order them by the number of employees and limit the search to 10 companies.

In [ ]:
list(db.companies.find({'number_of_employees':{'$gt':1000},'founded_year':{'$lt':2005}},{'name':1, 'number_of_employees':1, 'founded_year':1, '_id':0}).limit(10).sort('number_of_employees'))

### 6. All the companies that don't include the `partners` field.

In [ ]:
list(db.companies.find({'partners':{"$exists" : False}},{'name':1, '_id':0}))

### 7. All the companies that have a null type of value on the `category_code` field.

In [ ]:
list(db.companies.find({'category_code': "Null" },{'name':1, '_id':0}))

### 8. All the companies that have at least 100 employees but less than 1000. Retrieve only the `name` and `number of employees` fields.

In [ ]:
list(db.companies.find({'number_of_employees':{'$gte':100,'$lt':1000}},{'name':1, 'number_of_employees':1, '_id':0}))

### 9. Order all the companies by their IPO price descendently.

### 10. Retrieve the 10 companies with more employees, order by the `number of employees`

In [ ]:
list(db.companies.find({'number_of_employees':{'$gte':100}},{'name':1, 'number_of_employees':1, '_id':0}).limit(10).sort('number_of_employees',-1))

### 11. All the companies founded on the second semester of the year. Limit your search to 1000 companies.

In [ ]:
list(db.companies.find({'founded_month':{'$gte':6}},{'name':1,'founded_month':1, '_id':0}).limit(1000))

### 12. All the companies that have been 'deadpooled' after the third year.

In [ ]:
list(db.companies.find({'deadpooled_year':{'$gt':3}},{'name':1, '_id':0}))

### 13. All the companies founded before 2000 that have and acquisition amount of more than 10.000.000

In [ ]:
list(db.companies.find({'founded_year':{'$lt':2000},'acquisition.price_amount':{'$gt':10000000}},{'name':1,'acquisition.price_amount':1,'_id':0}))

### 14. All the companies that have been acquired after 2015, order by the acquisition amount, and retrieve only their `name` and `acquisiton` field.

In [ ]:
 list(db.companies.find({'acquisition.acquired_year':{'$lt':2005}},{'name':1,'acquisition.price_amount':1,'_id':0}).sort('acquisition.price_amount,-1'))

### 15. Order the companies by their `founded year`, retrieving only their `name` and `founded year`.

In [ ]:
list(db.companies.find({'founded_year':{'$gt':0}},{'name':1,'founded_year':1,'_id':0}).sort('founded_year').limit(1000))

### 16. All the companies that have been founded on the first seven days of the month, including the seventh. Sort them by their `aquisition price` descendently. Limit the search to 10 documents.

In [49]:

query=companies.find({'category_code':tres,'number_of_employees':{'$lt':100},'founded_year':{'$gte':2013-5}}
                           ,{'name':1, 'category_code ':1, '_id':0}
    
                     
print(query)

SyntaxError: EOL while scanning string literal (<ipython-input-49-93d3b49be515>, line 1)

In [153]:
rol="web"
año=5
emple=100
lista=pd.DataFrame(db.companies.find({'category_code':rol,'number_of_employees':{'$lt':emple},'founded_year':{'$gte':2013-año},'offices.longitude':{"$exists":True}}
                           ,{"name":1,'offices.longitude':1,'offices.latitude':1, '_id':0}))
x=lista.offices[0][0]["latitude"]
y=lista.offices[0][0]["longitude"]
lista.head(7)

,name,offices
0,headr,"[{'latitude': 52.5013449, 'longitude': 13.4109..."
1,Fixya,"[{'latitude': 37.566879, 'longitude': -122.323..."
2,First30Days,"[{'latitude': 38.257035, 'longitude': -85.7173..."
3,PokerPlayersSocialNetwork,"[{'latitude': 47.704875, 'longitude': -122.187..."
4,thatsmymouse,"[{'latitude': -34.054416, 'longitude': 151.039..."
5,Tvosz,"[{'latitude': None, 'longitude': None}]"
6,Unknown Vector,"[{'latitude': 37.790032, 'longitude': -122.404..."

In [156]:
ll=[]
for e in lista.offices:
    x=e[0]["longitude"]
    if x != None:
        ll.append(x)

    
ll

[13.4109071,
 -122.323895,
 -85.717393,
 -122.187925,
 151.039775,
 -122.404488,
 3.165225,
 -74.370313,
 -113.5291728,
 24.704663,
 -71.683502,
 -111.93315,
 104.195397,
 -3.435973,
 -77.12016,
 -122.4042586,
 -71.13129,
 -118.495981,
 77.578768,
 -73.992706,
 10.738741,
 -122.155678,
 -122.164925,
 -74.125176,
 -119.306607,
 -83.731129,
 -1.6629087,
 -122.457454,
 -73.980306,
 -78.922055,
 -78.9206,
 -121.262316,
 -82.391633,
 174.72663,
 74.84256,
 -122.401537,
 -81.473725,
 -122.416804,
 -75.024335,
 6.9280123,
 -73.963158,
 -8.224454,
 78.486671,
 9.966419,
 -79.824384,
 -0.150417,
 -95.390758,
 -78.643414,
 -79.266246,
 -0.126236,
 2.339843,
 0.257568,
 -83.14483,
 -122.437262,
 -79.603622,
 -97.763987,
 -87.66831,
 -0.469586,
 -0.126236,
 -95.712891,
 -71.24762,
 -74.007072,
 -74.294395,
 -115.246776,
 -121.267626,
 -118.456709,
 -46.638818,
 -105.278025,
 -122.1612868,
 151.208584,
 -1.611882,
 -77.0551909,
 -1.9820361,
 -122.419204,
 -80.082474,
 -105.20545,
 -122.398379,
 -84.389663,
 -118.493105,
 -66.09705,
 1.996567,
 -0.175393,
 -122.420903,
 174.774682,
 -122.267654,
 -97.069403,
 -86.198436,
 -86.846342,
 5.148893,
 -0.4274181,
 -123.060221,
 -94.594928,
 -75.196171,
 6.182658,
 -122.419204,
 -122.1490582,
 -1.574948,
 13.465981,
 -84.334042,
 -71.356845,
 -0.24233,
 -106.6634565,
 -73.990024,
 -119.8084281,
 -117.11359,
 -79.411513,
 2.3249952,
 -2.26681,
 4.8926529,
 -122.133621,
 16.357786,
 -111.8566,
 -88.294854,
 -122.403223,
 -75.163808,
 77.594376,
 -73.986951,
 -93.733354,
 -121.987122,
 -73.950677,
 -80.83722,
 -122.055177,
 103.861929,
 -122.3999719,
 -80.29413,
 -97.77512,
 -88.239237,
 151.207114,
 -73.999675,
 13.414913,
 -73.990024,
 -119.8084281,
 -117.11359,
 -79.411513,
 2.3249952,
 -2.26681,
 4.8926529,
 -122.133621,
 16.357786,
 -111.8566,
 -88.294854,
 -122.403223,
 -75.163808,
 77.594376,
 -73.986951,
 -93.733354,
 -121.987122,
 -73.950677,
 -80.83722,
 -122.055177,
 103.861929,
 -122.3999719,
 -80.29413,
 -97.77512,
 -88.239237,
 151.207114,
 -73.999675,
 13.414913,
 7.066468,
 4.463134,
 -122.3277578,
 -81.657707,
 -2.1334772,
 -122.270913,
 -121.803522,
 -73.974187,
 -122.159291,
 -79.375173,
 -71.4094864,
 -97.745209,
 -106.520846,
 18.042057,
 -122.34229,
 2.308019,
 -79.394325,
 -117.8771193,
 -122.682376,
 19.026118,
 -79.668813,
 -82.55582,
 -1.611882,
 -86.0547016,
 -79.44182,
 -9.135517,
 -73.951865,
 -3.020908,
 -93.324191,
 2.3603689,
 -121.880958,
 -74.001724,
 -73.987764,
 -122.394958,
 -118.295117,
 -122.6883052,
 -121.958687,
 -123.138565,
 151.1936039,
 -1.6806152,
 4.401195,
 -82.490137,
 -121.481826,
 -2.2439492,
 4.6102492,
 -111.967798,
 -83.674786,
 -115.242203,
 -122.268354,
 2.3509871,
 -95.8685249,
 -2.6136797,
 -84.377834,
 -73.986951,
 103.842646,
 -121.9909454,
 -76.614442,
 4.700737,
 -96.797111,
 -96.0172896,
 -73.989613,
 -8.5878882,
 -122.3915063,
 -5.665828,
 -122.335109,
 -73.986951,
 -122.0304277,
 -80.1261226,
 -122.1417,
 -122.670399,
 -123.138565,
 -74.230704,
 -86.120971,
 -122.347276,
 -117.168697,
 -80.191821,
 -118.4844228,
 -77.293817,
 -84.335965,
 -1.7884785,
 -73.9447994,
 -103.4174464,
 -122.072998,
 -74.0348315,
 -0.2065907,
 -94.616021,
 -74.294395,
 -118.033495,
 -72.4436464,
 -85.794905,
 -80.776641,
 -122.1490582,
 -95.527479,
 24.9754678,
 -73.801901,
 -79.3780255,
 -73.5825418,
 -118.395346,
 -98.48972,
 -84.389663,
 -122.286752,
 -77.0852258,
 -87.625677,
 -122.1235054,
 -9.1427493,
 -82.9178838,
 -77.050052,
 -122.40971,
 -74.0094471,
 -3.6912754,
 5.5858466,
 -84.495636,
 -76.356869,
 -95.457796,
 2.9608395,
 77.3159296,
 -121.9478049,
 -73.8304895,
 80.2481532,
 -84.5091102,
 -90.482766,
 -118.4818277,
 -121.9009329,
 -0.2547278,
 7.3554365,
 -72.5196907,
 -122.1632941,
 -122.159291,
 -107.8792679,
 -87.624333,
 -95.452352,
 -116.7732162,
 -118.378229,
 -121.076418,
 -122.036849,
 -73.986951,
 -0.1262362,
 -71.083762,
 4.8343287,
 72.9637728,
 -118.462421,
 8.6759098,
 -1.524702,
 -123.1333467,
 -77.222355,
 0.1312368,
 4.3358472,
 24.4280745,
 -113.493698,
 -84.338429,
 10.0184565,
 -95.942336,
 -118.325739,
 -118.489748,
 10.7963809,
 -74.10081,
 -122.1802812,
 -119.186443,
 145.065044,
 -0.2023958,
 -0.1852079,
 0.1312368,
 -121.928393,
 19.0284923,
 -0.1419622,
 -0.1262362,
 -0.1459893,
 -122.073003,
 15.454803,
 -118.3864712,
 -0.1365725,
 -122.42044,
 13.6281888,
 -73.9893359,
 -122.1802812,
 13.4663753,
 -93.442929,
 -122.163352,
 4.6102492,
 16.3736319,
 7.771808,
 -122.3374372,
 4.367612,
 -84.256139,
 -95.975663,
 -6.2674937,
 -77.036972,
 2.2863338,
 -87.6531805,
 -73.9928423,
 114.150564,
 -80.186473,
 -77.089398,
 -74.283346,
 -2.3626891,
 -4.0210296,
 9.9819779,
 -122.347276,
 -80.0520862,
 -71.0814466,
 -97.7389543,
 -73.9918181,
 -9.135517,
 -78.832593,
 -1.5613493,
 153.4375,
 8.4649954,
 -73.986951,
 2.336453,
 -0.0994596,
 2.3509871,
 -0.1525048,
 -122.419204,
 -80.534491,
 -122.402922,
 -75.163808,
 -73.9918181,
 -73.9565551,
 2.3509871,
 -81.018312,
 -0.1038219,
 4.8852747,
 -81.165981,
 12.9950742,
 103.8510535,
 8.5142125,
 -118.575293,
 -117.3321424,
 -77.05681,
 -122.4160008,
 -67.1517568,
 -121.986779,
 -74.00717,
 -73.9900984,
 2.1920231,
 -117.735509,
 -118.4660597,
 -118.405325,
 -73.986951]

### 17. All the companies on the 'web' `category` that have more than 4000 employees. Sort them by the amount of employees in ascendant order.

### 18. All the companies which their acquisition amount is more than 10.000.000, and currency are 'EUR'.

### 19. All the companies that have been acquired on the first trimester of the year. Limit the search to 10 companies, and retrieve only their `name` and `acquisition` fields.

### 20. All the companies that have been founded between 2000 and 2010, but have not been acquired before 2011.